//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

//- doctype html     

<html>
<head>
  <title> Update Custom Object Form | Integrating With HubSpot I Practicum </title>
</head>
<body>
 <a href=“https://app.hubspot.com/contacts/44808993/objects/2-22162480/views/all/list”>Return to the homepage</a>
</body>
</html>
